<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/brands.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>Pag4</title>
</head>
<body>
   <div class="encabezado flex saround centrar_v">
        <div class="logo flex">
            <img src="css/1- LOGO.png" alt="">
        </div>
        <div class="secciones flex sbetween">
                <li><a href="#"><h3>CATEGORIAS</h3></a></li>
                <li><a href="#"><h3>SALONES</h3></a></li>
                <li><a href="#"><h3>IMAGEN</h3></a></li>
                <li><a href="#"><h3>CONTACTO</h3></a></li>
        </div>
        <div class="empresa cuerpo1">
            <span class="material-icons-outlined">login</span>
            EMPRESAS
        </div>
    </div>
    <div class="busqueda oro100 flex">
        <div class="contenido_busqueda flex centrar_v ">
            <div class="iconos flex sbetween">
                <span class="material-icons-outlined">emoji_objects</span>
                <span class="material-icons-outlined">sell</span>
                <span class="material-icons-outlined">event_available</span>
            </div>
            <div class="barra flex">
                <h3>NUEVA BUSQUEDA</h3>
                <form>
                    <select>
                        <option>Zona ejemplo: San Miguel</option> 
                    </select>
                    <select>
                        <option>¿Que estas buscando?</option>
                    </select>
                </form>
                <div class="lupa">
                    <span class="material-icons-outlined gris1">search</span>
                </div>
            </div>
        </div>
    </div>
    <div class="area_contenido">
        <h4> HOME / ZONA NORTE GBA / RESULTADOS </h4>
        <h2>Encontramos las siguiente</h2>
        <hr>
        <div class="encontrado cuerpo1">
            <span class="material-icons-outlined">check_circle</span>
            ESTANCIA (16 coincidencias)
        </div>
        <hr>
        <div class="cuadro flex">
            <div class="cuadrito flex gris2 ">
                <span class="material-icons-outlined">location_on</span>
                <h5>Plata</h5>
                <span class="material-icons-outlined">cancel</span>
            </div>
        </div>
        <div class="contenedor flex">
            <div class="filtro flex md-3">
                <hr>
                <h6><span class="material-icons-outlined cuerpo1">filter_alt</span>Filtros:</h6>
                <div class="modulos flex cuerpo1">
                    <div class="modulo">
                        <span class="material-icons-outlined">local_bar</span>
                        ...EVENTOS
                        <span class="material-icons-outlined">arrow_drop_down</span>
                    </div>
                    <div class="modulo">
                        <span class="material-icons-outlined">home</span>
                        ...SALONES
                        <span class="material-icons-outlined">arrow_drop_down</span>
                    </div>
                    <div class="modulo">
                        <span class="material-icons-outlined">redeem</span>
                        ...CAPACIDAD
                        <span class="material-icons-outlined">arrow_drop_down</span>
                    </div>
                    <div class="radio flex">
                        <div class="opcion">
                            <span class="material-icons-outlined">radio_button_unchecked</span>Hasta 50 invitados
                        </div>
                        <div class="opcion">
                            <span class="material-icons-outlined">radio_button_unchecked</span>51 a 100 invitados
                        </div>
                        <div class="opcion">
                            <span class="material-icons-outlined">check_circle</span>100 a 200 invitados
                        </div>
                        <div class="opcion">
                            <span class="material-icons-outlined">radio_button_unchecked</span>Mas de 200 invitados
                        </div>
                    </div>
                    <div class="modulo">
                        <span class="material-icons-outlined">schedule</span>
                        ...HORARIOS
                        <span class="material-icons-outlined">arrow_drop_down</span>
                    </div>
                    <div class="modulo">
                        <span class="material-icons-outlined">attach_money</span>
                        ...PROMOCIONES
                        <span class="material-icons-outlined">arrow_drop_down</span>
                    </div>
                </div>
            </div>
            <div class="contenedor_tarjetas">
                <div class="tarjetas flex">
                    <div class="contenido_tarjetas">
                        <div class="lugar cuerpo2 white">
                            <span class="material-icons-outlined">location_on</span>
                            CARDALE,ZONA NORTE DEL GBA 
                        </div>
                        <div class="titulo_tarjeta white"><h2>Titulo</h2></div>
                        <div class="descrip_tarjeta cuerpo1 white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam laborum natus reiciendis aliquam est provident repudiandae amet .</div>
                        <div class="botones">
                            <div class="descuento">10%</div>
                            <div class="boton">
                                <div class="mas">
                                    <span class="material-icons-outlined">add_circle</span>
                                </div>
                                <div class="cotizar">
                                    <h5>COTIZAR</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="imagen_tarjeta">
                        <img src="css/Restaurant_Näsinneula.jpg" alt="">
                    </div>
                </div>
                <div class="tarjeta flex">
                    <div class="contenido_tarjetas">
                        <div class="lugar cuerpo2">
                            <span class="material-icons-outlined">location_on</span>
                            CARDALE,ZONA NORTE DEL GBA 
                        </div>
                        <div class="titulo_tarjeta"><h3>Titulo</h3></div>
                        <div class="descrip_tarjeta cuerpo1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam laborum natus reiciendis aliquam est provident repudiandae amet .</div>
                        <div class="botones">
                            <div class="boton">
                                <div class="descuento"></div>
                                <div class="mas">
                                    <span class="material-icons-outlined">add_circle</span>
                                </div>
                                <div class="cotizar">
                                    <h5>COTIZAR</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="imagen_tarjeta">
                        <img src="css/Restaurant_Näsinneula.jpg" alt="">
                    </div>
                </div>
                <div class="tarjeta flex">
                    <div class="contenido_tarjetas">
                        <div class="lugar cuerpo2">
                            <span class="material-icons-outlined">location_on</span>
                            CARDALE,ZONA NORTE DEL GBA 
                        </div>
                        <div class="titulo_tarjeta"><h3>Titulo</h3></div>
                        <div class="descrip_tarjeta cuerpo1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam laborum natus reiciendis aliquam est provident repudiandae amet .</div>
                        <div class="botones">
                            <div class="boton">
                                <div class="descuento"></div>
                                <div class="mas">
                                    <span class="material-icons-outlined">add_circle</span>
                                </div>
                                <div class="cotizar">
                                    <h5>COTIZAR</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="imagen_tarjeta">
                        <img src="css/Restaurant_Näsinneula.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3>Productos Relacionados</h3>
        <div class="productos md-12">
            <div class="img_producto">
                <a href="#" class="sub16">Näsinneula</a>
            </div>
            <div class="img_producto">
                <a href="#" class="sub16">Näsinneula</a>
            </div>
            <div class="img_producto">
                <a href="#" class="sub16">Näsinneula</a>
            </div>
            <div class="img_producto">
                <a href="#" class="sub16">Näsinneula</a>
            </div>
            <div class="img_producto">
                <a href="#" class="sub16">Näsinneula</a>
            </div>
            <div class="img_producto">
                <a href="#" class="sub16">Näsinneula</a>
            </div>
        </div>
        <hr>
        <footer>
            <div class="contenedor_footer flex">
                <div class="footer_contenedores">
                    <div class="img_footer">
                        <img src="css/1- LOGO.png" alt="">
                    </div>
                    <div class="categorias flex">
                        <div class="categorias_d cuerpo2 t-oro">
                            <h5>categorias</h5>
                            <h5>eventos</h5>
                            <h5>imagen personal</h5>
                            <h5>contacto</h5>    
                        </div>
                        <div class="categorias_d cuerpo2 t-oro">
                            <h5>avisos legales</h5>
                            <h5>terminos y condiciones</h5>
                            <h5>trabaja con nosotros</h5>
                            <h5>anuncia en el portal</h5>
                        </div>
                        
                    </div>
                </div>
                <div class="footer_contenedores">
                    <div class="cosa">
                        <div class="titulo">
                            Newsletter y promociones
                        </div>
                        <div class="texto"></div>
                            <input type="text" placeholder="Dejanos tu correo para recibir mas noticias">
                            SUSCRIBIRME
                        </div>
                        <div class="redes_sociales">
                            Seguinos en nuestras redes:
                            <i class="fa-regular fa-envelope"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-pinterest"></i>
                            <i class="fa-brands fa-invision"></i>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>