<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/brands.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>Pag4</title>
</head>
<body>
    <section class="encabezado flex saround centrar_v">
        <div class="logo">
            <h1>LOGO</h1>
        </div>
        <div class="secciones flex sbetween">
            <h3>categorias</h3>
            <h3>salones</h3>
            <h3>imagen</h3>
            <h3>contacto</h3>
        </div>
        <div class="empresa">
            <li><span class="material-icons-outlined"></span>Empresas</li>
        </div>
    </section>
    <section class="busqueda flex saround centrar_v">
        <div class="iconos flex sbetween">
            <li><span class="material-icons-outlined"></span></li>
            <li><span class="material-icons-outlined"></span></li>
            <li><span class="material-icons-outlined"></span></li>
        </div>
        <div class="barra flex">
            <h3>NUEVA BUSQUEDA:</h3>
            <input type="search" class="alkatra" placeholder="Buscar restaurante">
            <input type="submit" class=" material-icons-outlined" value="search">
        </div>
    </section>

    <div class="area_contenido">
        <h4> HOME / ZONA NORTE GBA / RESULTADOS </h4>
        <h2><b>H2</b> Encontramos las siguiente</h2>
        <hr>
        <li><span class="material-icons-outlined"></span>.cuerpo1 ESTANCIA (16 coincidencias)</li>
        <hr>
        <div class="cuadrito">
            <li><span class="material-icons-outlined"></span></li>
            <h5>H5 Plata</h5>
            <li><span class="material-icons-outlined"></span></li>
        </div>
    </div>
    
</body>
</html>