<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/brands.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>Pag5</title>
</head>
<body>
   <div class="encabezado flex saround centrar_v">
        <div class="logo flex">
            <img src="css/1- LOGO.png" alt="">
        </div>
        <div class="secciones flex sbetween">
                <li><a href="#"><h3>CATEGORIAS</h3></a></li>
                <li><a href="#"><h3>SALONES</h3></a></li>
                <li><a href="#"><h3>IMAGEN</h3></a></li>
                <li><a href="#"><h3>CONTACTO</h3></a></li>
        </div>
        <div class="empresa cuerpo1">
            <span class="material-icons-outlined">login</span>
            EMPRESAS
        </div>
    </div>
    <div class="busqueda oro100 flex">
        <div class="contenido_busqueda flex centrar_v ">
            <div class="iconos flex sbetween">
                <span class="material-icons-outlined">emoji_objects</span>
                <span class="material-icons-outlined">sell</span>
                <span class="material-icons-outlined">event_available</span>
            </div>
            <div class="barra flex">
                <h3>NUEVA BUSQUEDA</h3>
                <form>
                    <select>
                        <option>Zona ejemplo: San Miguel</option> 
                    </select>
                    <select>
                        <option>¿Que estas buscando?</option>
                    </select>
                </form>
                <div class="lupa">
                    <span class="material-icons-outlined gris1">search</span>
                </div>
            </div>
        </div>
    </div>
    <div class="area_contenido">
        <h4> HOME /  MICROSITIOS  / ESTANCIA LA LINDA </h4>
        <div class="portada">
            <div class="titulo_portada">
                <h1>ESTANCIA LA LINDA</h1>
                <h4>DONDE LA NATURALEZA Y LA EXCELENCIA SE UNEN</h4>
            </div>
            <div class="sub_portada sub14">
                OLIDEN 4561, TORTUGUITAS , ZONA NORTE DEL GBA
            </div>
        </div>
        <div class="contenedor_estancia flex">
            <div class="contenido_estancia">
                <div class="titulo_estancia">
                    <h2>Estancia La Linda</h2>
                </div>
                <hr>
                <div class="sub_estancia cuerpo2">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa ad quaerat 
                    voluptatibus. Debitis rerum ipsam suscipit reiciendis exercitationem 
                    perferendis excepturi eaque id numquam beatae soluta veniam nobis asperiores
                    , at unde.
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Provident reiciendis, eum, minima 
                    modi assumenda corrupti debitis molestias dolore quasi at mollitia
                    nobis sint. A, quod nulla id similique ex neque!
                </div>
                <div class="cuadro_estancia">
                    <div class="info_cuadro">
                        <h4>Sobre el lugar</h4>
                        <div class="info_estancia">
                            <div class="carac">
                                <h5>Capacidad de invitados</h5>
                                <h5>Ubicacion del salon</h5>
                                <h5>Espacios con los que cuanta el salon</h5>
                                <h5>Servicios que ofrecen</h5>
                            </div>
                            <div class="des_carac">
                                <h5>Desde 100 a 350</h5>
                                <h5>A las afueras de la ciudad hasta 20km</h5>
                                <h5>Salón / Foyer / Pista de Baile / Estacionamiento / Jardín Pileta / Carpa / Habitación para Novios - Familiare</h5>
                                <h5>Catering / Bebidas / Barra de Tragos / Ceremonia Disc Jockey / Ambientación / Livings / Otros</h5>
                            </div>
                        </div>
                        <hr>
                        <div class="texto_demas">
                            <h5>- Promociones acordes a tu evento</h5>
                            <h5>- El horario de comienzo de tu casamiento LO ELEGÍS VOS y sin costo adicional!</h5>
                        </div>
                        <div class="img_fotos">
                            <div class="img_lugar"></div>
                            <div class="img_lugar"></div>
                            <div class="img_lugar"></div>
                            <div class="img_lugares">
                                <h1>+12</h1>
                            </div>
                        </div>
                        <div class="img_ubi"></div>
                    </div>
                    <div class="cuadro_color">
                        <div class="cuadro_interior">
                            <div class="titulo_contacto">
                                <h3>Contacto directo</h3>
                                <h4>estancialalinda.com</h4>
                            </div>
                            <div class="contactos">
                                <div class="tel cuerpo1">
                                    <i class="fa-brands fa-whatsapp"> +549115788963</i>
                                    <i class="fa-brands fa-whatsapp"> +549115788963</i>
                                </div>
                                <div class="email cuerpo1">
                                    <i class="fa-regular fa-envelope"> fio_estancia@gmail.com</i>
                                    <i class="fa-regular fa-envelope"> mecha_estancia@gmail.com</i>
                                </div>
                                <div class="iconos_contactos">
                                    <i class="fa-brands fa-instagram"></i>
                                    <i class="fa-brands fa-facebook"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                    <i class="fa-solid fa-map-location-dot"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filtro_estancia">
                <h4></h4>
                <div class="cuadro_filtro cuerpo1">
                    <h5></h5>
                    <div class="modulo">
                        <span class="material-icons-outlined">local_bar</span>
                        ...EVENTOS
                    </div>
                    <div class="modulo">
                        <span class="material-icons-outlined">local_bar</span>
                        ...EVENTOS
                    </div>
                    <h5></h5>
                    <div class="modulo">
                        <span class="material-icons-outlined">local_bar</span>
                        ...EVENTOS
                    </div>
                    <div class="modulo">
                        <span class="material-icons-outlined">local_bar</span>
                        ...EVENTOS
                    </div>
                    <div class="modulo">
                        <span class="material-icons-outlined">local_bar</span>
                        ...EVENTOS
                    </div>
                    <div class="modulo">
                        <span class="material-icons-outlined">local_bar</span>
                        ...EVENTOS
                    </div>
                    <div class="cotizar">Cotizar</div>
                </div>
                <div class="cuadro_filtro_dos">
                    <h4>Cotizar Despues</h4>
                    <div class="cotizar">Agregar a mi lista</div>
                </div>
                </div>
            </div>
        </div>
        <hr>
        <footer>
            <div class="contenedor_footer flex">
                <div class="footer_contenedores">
                    <div class="img_footer">
                        <img src="css/1- LOGO.png" alt="">
                    </div>
                    <div class="categorias flex">
                        <div class="categorias_d cuerpo2 t-oro">
                            <h5>categorias</h5>
                            <h5>eventos</h5>
                            <h5>imagen personal</h5>
                            <h5>contacto</h5>    
                        </div>
                        <div class="categorias_d cuerpo2 t-oro">
                            <h5>avisos legales</h5>
                            <h5>terminos y condiciones</h5>
                            <h5>trabaja con nosotros</h5>
                            <h5>anuncia en el portal</h5>
                        </div>
                        
                    </div>
                </div>
                <div class="footer_contenedores">
                    <div class="cosa">
                        <div class="titulo t-oro">
                            <h3>Newsletter y promociones</h3>
                        </div>
                        <div class="texto">
                            <input type="text" placeholder="Dejanos tu correo para recibir mas noticias">
                            <div class="cotizar">SUSCRIBIRME</div>
                        </div>
                    </div>
                    <div class="redes_sociales">
                        Seguinos en nuestras redes:
                        <i class="fa-regular fa-envelope"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-pinterest"></i>
                        <i class="fa-brands fa-invision"></i>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>