@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
}

/*--TIPOGRAFIAS Y ESTILOS--*/
.roboto {
    font-family: 'Roboto', sans-serif;
}

.fw700 {
    font-weight: 700;
}

.parrafo p {
    font-size: 12pt;
}

/*--COLORES--*/
.fondo {
    background-color: #060614;
}

.azules {
    background-color: #323286;
}

.violeta {
    background-color: #ac6bd6;
}

.blanco_t {
    color: white;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.naranja {
    background-color: orange;
}


#contenedor {
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 10%;
}

#imagen {
    background-image: url(imagenvioleta.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat:no-repeat ;*/
}

/*--MEDIDAS DE CONTENEDORES--*/
/*ANCHOS*/
.w50 {
    width: 50%;
}

/*ALTURAS*/
.h400 {
    height: 400px;

}

#texto {}

#imagen {}

/*--ORGANIZACION--*/

/*.fl {
    float: left;
}

.clearb {
    clear: both;
}*/
.pd20 {
    padding: 10%;
}

.dflex {
    display: flex;
}

.columna {
    flex-direction: column;
}
.sb{
    justify-content: space-between;
}

/*--MEDIA QUERIES--*/
/*PARA QUE SEA RESPONSIVE*/
/*SECCION PARA CREAR BREAKPOINTS*/

@media screen and (max-width:667px) {
    .flexdir {
        flex-direction: column-reverse;
    }

    .w50 {
        width: 100%;
    }

    .colm {
        flex-direction: column;
    }

    #imagen.h400 {
        height: 200px;
    }
    .centrar_v{
        text-align: center;
    }

}

/*@media screen and (max-width:1024px) {
    .violeta{
        background-color: red;
        transform: scale(0.5);
    }
}*/

@media screen and (max-width:667px) {
    .violeta {
        transform: scale(1);
    }
}